.scrollOff {
    width: 100%;
    padding-right: 5px;
    box-sizing: border-box;
    height: var(--height_filter);
}

.container {
    composes: shadow_card from global;
    width: 98% !important;
    height: 100% !important;
    border-radius: var(--border_radius);
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    margin: auto;
}

.content_filters {
    composes: grid_cripto from global;
    margin-top: -5px;
}