.container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--green-color-light);
    border-radius: var(--border-radius);
    height: fit-content;
    padding: 0px 10px;
    position: relative;
}

.search_text {
    font-size: 0.8rem;
    color: var(--secondary_color);
}

.icon {
    fill: var(--secondary_color);
    width: 20px;
    position: absolute;
    right: 10px;
}

.input {
    background: transparent;
    font-size: 1rem;
    padding: 5px 30px 5px 10px;
    border-radius: var(--border_radius);
    box-sizing: border-box;
}