.container {
    composes: box_shadow from global;
    position: absolute;
    bottom: 20px;
    z-index: 200;
    background-color: var(--green_light_color);
    padding: 15px 20px;
    border-radius: var(--border_radius);
}

.title {
    font-weight: bold;
}