.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.arrow {
    stroke: var(--secondary_color);
    stroke-width: 6px;
    width: 8px;
    cursor: pointer;
    margin-right: 8px;
}

.down_arrow {
    composes: arrow;
    transform: rotate(90deg);
    margin-left: 4px;

    &:active {
        transform: rotate(90deg) translateX(0.5px);
    }
}

.up_arrow {
    composes: arrow;
    transform: rotate(270deg);
    margin-left: 4px;

    &:active {
        transform: rotate(270deg) translateX(0.5px);
    }
}