.container_navbar {
  composes: box_shadow from global;
  height: var(--height_navbar);
  color: var(--primary_color);
}

.container {
  composes: container from global;
  composes: flex_center from global;
  height: var(--height_navbar);
  justify-content: space-between !important;
  padding: 0% 1% !important;
  box-sizing: border-box !important;
}

.item {
  composes: active from global;
  composes: flex_center from global;
  font-size: calc(var(--height_navbar) - 53px);
  font-weight: bold;
  align-items: center !important;
  margin-right: 5px;
}

.locate {
  composes: flex_center from global;
  width: fit-content;
}

.item_locate {
  composes: active from global;
  border-bottom: none;
  color: #000;
  margin: 0.2vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.2vw;
}

.logo {
  composes: active from global;
  height: 80%;
}