.container {
    composes: shadow_card from global;
    composes: active from global;
    width: 98% !important;
    height: 90% !important;
    margin: 0 !important;
    border-radius: var(--border_radius);
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

.name_img {
    composes: flex_center from global;
    justify-content: flex-start !important;
    margin-right: auto;
}

.name {
    margin-left: 10px;
}

.ranking {
    composes: flex_center from global;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
}