body {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary_color: #ff4400;
  --secondary_color: rgb(56, 0, 56);
  --small_text_color: rgb(3, 0, 167);
  --green_color: rgba(0, 255, 42);
  --red_color: rgba(255, 0, 0);
  --green_light_color: rgba(255, 255, 255, 0.95);
  --background_gray: rgb(223, 223, 223);
  --height_navbar: 70px;
  --height_filter: 40px;
  --shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.15);
  --shadow_card: 2px 3px 8px 2px rgba(102, 45, 45, 0.08);
  --border_radius: 5px;
  --grid_cripto: 0.3fr 2fr 1.5fr 1.5fr 1.5fr 0.5fr 0.5fr 0.5fr
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.ReactVirtualized__Grid,
.ReactVirtualized__List {
  height: calc(100vh - var(--height_navbar) - var(--height_filter)) !important;
  width: 100% !important;
  padding: 1% 0%;
}

.ReactVirtualized__Grid__innerScrollContainer {
  max-width: 100% !important;
}

.flex_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ReactVirtualized__List {
  overflow: auto;
}

.ReactVirtualized__List::-webkit-scrollbar {
  width: 5px;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background: var(--secondary_color);
  border-radius: 5px
}

.ReactVirtualized__List::-webkit-scrollbar-track-piece:vertical {
  background: #e0e0e0;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb:hover {
  background: var(--primary_color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.box_shadow {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.shadow_card {
  -webkit-box-shadow: var(--shadow_card);
  box-shadow: var(--shadow_card);
}

.active {
  cursor: pointer;

  &:active {
    transform: translateY(0.5px);
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

.small_text {
  font-size: 0.7rem;
  color: var(--small_text_color);
}

.grid_cripto {
  width: 100% !important;
  display: grid;
  grid-template-columns: var(--grid_cripto);
  gap: 10px;
  margin-bottom: 5px;
}

.fill-parent {
  fill: inherit;
}

.arrow {
  stroke: var(--primary_color);
  stroke-width: 6px;
  width: 8px;
  cursor: pointer;
  margin-right: 8px;

  &.down_arrow {
    transform: rotate(90deg);
    margin-left: 4px;

    &:active {
      transform: rotate(90deg) translateX(0.5px);
    }
  }

  &.up_arrow {
    transform: rotate(270deg);
    margin-left: 4px;

    &:active {
      transform: rotate(270deg) translateX(0.5px);
    }
  }
}

.content_arrows {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}