.container {
    padding: 2px 4px;
    box-sizing: border-box;
    margin-top: -2px;
    width: fit-content;
    border-radius: var(--border_radius);
    height: fit-content;
}

.green {
    composes: container;
    border-bottom: 3px solid var(--green_color);
}

.red {
    composes: container;
    border-bottom: 3px solid var(--red_color);
}